.Dropdown {
    position: relative;
    min-width: 200px;
}

.Dropdown .header {
    background-color: #fff;
    border: 1px solid #333;
    padding: 10px 15px;
}

.Dropdown .header:hover {
    cursor: pointer;
    background-color: #ddd;
}

.Dropdown .header:active {
    background-color: #aaa;
}

.Dropdown .items {
    position: absolute;
    background-color: #fff;
    border: 1px solid #333;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    top: calc(100% + 1px);
}

.Dropdown .items > h4 {
    border-bottom: 1px solid #e1e1e1;
    padding: 10px;
}

.Dropdown .items > h4:hover {
    cursor: pointer;
    background-color: #ddd;
}

.Dropdown .items > h4.selected {
    background-color: #1f75cb;
    color: #fff;
}