.Grid {
    display: grid;
    height: 100%;
    grid-template-rows: 60px 1fr;
}

.Grid > :first-child {
    background-color: #333;
    color: #fff;
}

.Grid > :nth-child(2) {
    background-color: #f9f9f9;
}

.Grid > div {
    padding: 10px;
}