body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html, body, #root, .App {
    height: 100%;
}

body, button {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.active {
  color: #1f75cb;  
}